<section class="block-carousel {{- with .background }} block-bg{{ end }}" {{- partial "func/SetAnim.html" (dict "element" "block") }}>
  <div class="container">

    {{ with .items }}
      <div id="carousel" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          {{ range $index, $items := . }}
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ $index }}" {{ if eq $index 0 }}class="active" aria-current="true" {{ end }}aria-label="Slide {{ $index }}"></button>
          {{ end }}
        </div>
        <div class="carousel-inner">
          {{ range $index, $items := . }}
            <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
              <div class="carousel-caption">
                <h3>{{ partial "func/PrepareHTML.html" .title }}</h3>
              </div>
              {{ with .image }}
                {{ $desktop := site.Params.blocks.carousel.desktop | default false }}
                {{ $mobile := site.Params.blocks.carousel.mobile | default false }}
                {{ partial "commons/image.html" (dict
                  "src" .src 
                  "alt" .alt 
                  "desktop" $desktop
                  "mobile" $mobile
                  ) }}
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>
    {{ end }}

  </div>
</section>