<article class="person person-large" itemscope itemtype="https://schema.org/Person"{{ partial "func/SetAnim.html" (dict "element" "item") }}>
  <meta itemprop="url" content="{{ .Permalink }}">
  <div class="content">
    <h2>{{  partial "func/PrepareHTML.html" .Params.firstname }} <b>{{  partial "func/PrepareHTML.html" .Params.lastname }}</b></h2>
    {{- partial "commons/body.html" . -}}
  </div>
  {{ partial "persons/item/media" . }}
  {{ partial "persons/contact-list" . }}
  {{ partial "persons/item/resume" . }}
</article>