.post
    --bs-card-border-width: 0
    --bs-card-border-radius: 0
    --bs-card-inner-border-radius: 0
    --bs-card-spacer-x: 2rem
    @extend .card
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1)
    display: grid
    grid-template-columns: 100%
    .media
        --bs-aspect-ratio: 100%
        grid-row: 1
    .content,
    .metas
        display: flex
        flex-direction: column
    .metas
        color: $primary-medium
        grid-row: 2
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x)
    .metas,
    .category
        font-size: px2rem(14)
        letter-spacing: px2rem(3)
        text-transform: uppercase
    .content
        grid-row: 3
        @include media-breakpoint-down(sm)
            padding-bottom: 0
    .name
        @include margin-bottom(40)
        & + p
            margin-bottom: 0
    .category
        color: $primary-lighten
    .cta
        @extend .btn-secondary
        @extend .btn-arrow
        white-space: nowrap
        @include media-breakpoint-down(md)
            margin-top: 1rem
        @include media-breakpoint-down(sm)
            margin-left: -2rem
            margin-right: -2rem
        @include media-breakpoint-up(md)
            bottom: 0
            position: absolute
            right: 0
        &::before
            bottom: 0
            content: ""
            left: 0
            position: absolute
            right: 0
            top: 0
            z-index: $stretched-link-z-index
    
    @include media-breakpoint-up(sm)
        grid-column-gap: $grid-gutter-width
        grid-template-columns: repeat(5, 1fr)
        .media
            grid-column: 1/3
            grid-row: 1/4
        .content,
        .metas
            grid-column: 3/6
        .metas
            grid-row: 1
        .content
            grid-row: 2/4
