// https://github.com/twbs/bootstrap/blob/v5.2.3/scss/_variables.scss

// Colors
$primary: #195F68
$primary-darken: #022A32
$primary-medium: #043F47
$primary-lighten: #4CB1BF
$primary-gradient: linear-gradient(to right,$primary, $primary-darken)
$secondary: #F5A62E
$secondary-gradient: linear-gradient(to right,#FF934D, #FFBA38)
$body-color: #575757
$light: #F7F7F7

// Grid
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1626px)
$grid-gutter-width: 1.875rem

// Alert
$alert-link-font-weight: normal

// Badge
$badge-border-radius: 2rem
$badge-padding-x: 2rem
$badge-padding-y: .75rem

// Border
$border-radius: 0
$border-radius-sm: 0
$border-radius-lg: 0
$border-radius-xl: 0
$border-radius-2xl: 0

// Breadcrumb
$breadcrumb-font-size: .75rem
$breadcrumb-margin-bottom: 0
$breadcrumb-padding-y: px2rem(10)

// Buttons
$btn-close-opacity: 1
$btn-padding-y: .75rem
$btn-padding-x: 1rem

// Font
$font-family-sans-serif: Inter, Sans-Serif
$font-weight-normal: 400
$font-weight-bold: 700
$h1-font-size: 3.75rem
$h2-font-size: 2.5rem
$h3-font-size: 1.875rem
$headings-color: $primary
$headings-font-weight: $font-weight-normal
$headings-line-height: 1.22
$headings-margin-bottom: 3.125rem
$paragraph-margin-bottom: 2rem
$small-font-size: .875rem

// Hr
$hr-margin-y: 2.8rem

// Nav
$navbar-padding-y: px2rem(20)
$navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 14'><rect width='23' height='2' fill='white'/><rect x='9.20312' y='6' width='13.7969' height='2' fill='white'/><rect x='4.60938' y='12' width='18.3906' height='2' fill='white'/></svg>")
$navbar-toggler-padding-y: px2rem(10)
$navbar-toggler-padding-x: px2rem(10)

// Pagination
$pagination-padding-y: .875rem
$pagination-padding-x: .5rem

$pagination-border-color: transparent
$pagination-border-radius: 50%
$pagination-border-width: 0

$pagination-bg: $light
$pagination-color: $primary-darken

$pagination-active-bg: $primary-lighten
$pagination-active-color: white

$pagination-hover-bg: $primary-lighten
$pagination-hover-color: white

$pagination-disabled-bg: transparent
$pagination-disabled-color: lightgrey



// Site
$header-background-color: $primary-darken
$header-color: white
$header-height: 90px
$header-height-xxl: 118px
$hero-min-height: 500px
$hero-min-height-xxl: 600px
$footer-background-color: $primary-darken
$footer-color: white
$global-spacing: 3.75rem
$global-spacing-double: 7.5rem
