// https://github.com/twbs/bootstrap/blob/v5.2.3/scss/_variables.scss

// Colors
$primary: #195F68
$primary_darken: #022A32
$primary_medium: #043F47
$primary_lighten: #4CB1BF
$secondary: #F5A62E
$secondary-gradient: linear-gradient(to right,#FF934D, #FFBA38)
$body-color: #575757

// Grid
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1570px)

// Alert
$alert-link-font-weight: normal

// Border
$border-radius: 0
$border-radius-sm: 0
$border-radius-lg: 0
$border-radius-xl: 0
$border-radius-2xl: 0

// Breadcrumb
$breadcrumb-font-size: .75rem
$breadcrumb-margin-bottom: 0
$breadcrumb-padding-y: px2rem(10)

// Buttons
$btn-close-opacity: 1
$btn-padding-y: .75rem
$btn-padding-x:  1rem

// Font
$font-family-sans-serif: Inter
$font-weight-normal: 400
$font-weight-bold: 700
$h1-font-size: px2rem(80)
$h2-font-size: px2rem(47)
$h3-font-size: px2rem(32)
$headings-color: $primary
$headings-font-weight: $font-weight-normal
$headings-line-height: 1.22
$headings-margin-bottom: 3.125rem
$paragraph-margin-bottom: 2rem
$small-font-size: .875rem

// Hr
$hr-margin-y: 2.8rem

// Nav
$navbar-padding-y: px2rem(20)
$navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 14'><rect width='23' height='2' fill='white'/><rect x='9.20312' y='6' width='13.7969' height='2' fill='white'/><rect x='4.60938' y='12' width='18.3906' height='2' fill='white'/></svg>")
$navbar-toggler-padding-y: px2rem(10)
$navbar-toggler-padding-x: px2rem(10)

// Pagination
$pagination-padding-y: .5rem
$pagination-padding-x: .75rem
$pagination-disabled-bg: transparent


// Site
$header-background-color: $primary_darken
$header-color: white
$header-height: 118px
$hero-min-height: 500px
$hero-min-height-xxl: 600px
$footer-background-color: $primary_darken
$footer-color: white
$global-spacing: px2rem(60)