<header class="hero"{{ partial "func/SetAnim" (dict "element" "hero") }}>
  <div class="container">
    <div class="row">
      <div class="hero-content">
        {{ with .Title }}
          <h1>{{ partial "func/PrepareHTML" . }}</h1>
        {{ end }}
        {{ with .Description }}
          <div class="description">
            {{ if in (string .) "\n" }}
              {{ partial "func/PrepareHTML" . | markdownify }}
            {{ else }}
              <p>{{ partial "func/PrepareHTML" . | markdownify }}</p>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</header>
{{ partialCached "commons/btn-down" . }}
