<header class="hero"{{ partial "func/SetAnim.html" (dict "element" "hero") }}>
  <div class="container">
    {{ with .Params.hero }}
      {{ with .image }}
        {{ if .background_image }}
          {{ $picture_class := "hero-cover" }}
          {{ $cover := site.Params.hero.cover }}
          {{ $mobile := site.Params.hero.cover_mobile }}
          {{ if .darken }}
            {{ $picture_class = printf "%s hero-cover-darken" $picture_class }}
          {{ end }}
          {{ partial "commons/image.html" (dict
              "src" .src
              "alt" .alt
              "desktop" $cover
              "mobile" $mobile
              "picture_class" $picture_class
              "lazy" false
          ) }}
        {{ end }}
      {{ end }}
    {{ end }}
    <div class="row">

      <div class="hero-content">
        {{- with .Site.Data.seo.baseline -}}
          <p class="surtitle">{{ partial "func/PrepareHTML.html" . }}</p>
        {{- end -}}
        {{ with .Params.hero }}
          {{ with .title }}
            <h1>{{ partial "func/PrepareHTML.html" . }}</h1>
          {{ end }}
          {{ with .text }}
            <div class="description">
              {{ if in (string .) "\n" }}
                {{ partial "func/PrepareHTML.html" . | markdownify }}
              {{ else }}
                <p>{{ partial "func/PrepareHTML.html" . | markdownify }}</p>
              {{ end }}
            </div>
          {{ end }}
        {{ else }}
          {{ with .Title }}
            <h1>{{ partial "func/PrepareHTML.html" . }}</h1>
          {{ end }}
        {{ end }}
      </div>

    </div>
  </div>
</header>
{{ partialCached "commons/btn-down" . }}