.badge
    letter-spacing: px2rem(3)
    padding-top: calc(#{$badge-padding-y} + .05rem)
    text-transform: uppercase
    &-secondary
        --bs-btn-color: white
        background: #{$secondary-gradient}
    