.badge
    letter-spacing: .3em
    padding-top: calc(#{$badge-padding-y} + .05rem)
    text-transform: uppercase
    &-secondary
        --bs-btn-color: white
        background: #{$secondary-gradient}
    