.hero
    overflow: hidden
    h1
        color: $header-color
    .surtitle,
    h1
        span
            color: $secondary
    &-content
        @extend .col-xl-10
    &-cover
        img
            display: block
            margin-left: auto
            width: auto
