.block-pushes
    .items-3
        @extend .row-cols-lg-3
    .items
        @include scroll-snap
        justify-content: center
    .items > div
        &:nth-child(1)
            .push
                --push-background-color: #{$primary-darken}
        &:nth-child(2)
            .push
                --push-background-color: #{$primary-medium}
        &:nth-child(3)
            .push
                --push-background-color: #{$primary}
    .push
        --bs-aspect-ratio: 100%
        > a
            &::after
                bottom: 0
                content: '+'
                position: absolute
                right: 0
        .content
            height: 100%
            justify-content: space-around
        .surtitle
            @include rfs($global-spacing, margin-bottom)
            text-decoration-color: $secondary
            text-decoration-line: underline
        h3
            font-size: px2rem(26)
            margin-bottom: px2rem(30)
        p
            font-size: px2rem(14)
            quote,
            cite
                font-style: italic
            cite
                color: $primary-lighten
                display: block
                margin-top: 1rem
