.block-pushes
    .items-3
        @extend .row-cols-lg-3
    .items > div
        &:nth-child(1)
            .push
                --push-background-color: #{$primary-darken}
        &:nth-child(2)
            .push
                --push-background-color: #{$primary-medium}
        &:nth-child(3)
            .push
                --push-background-color: #{$primary}
    .push
        --bs-aspect-ratio: 100%
        h3
            font-size: px2rem(26)
        p
            font-size: px2rem(14)
            cite
                color: $primary_lighten
                display: block
                margin-top: 1rem
